<p id="notice"><%= notice %></p>

<h1>Listing Historia Clinicas</h1>

<table>
  <thead>
    <tr>
      <th>Profesional</th>
      <th>Practica</th>
      <th>Especialidad</th>
      <th>Paciente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia_clinicas.each do |historia_clinica| %>
      <tr>
        <td><%= historia_clinica.profesional_id %></td>
        <td><%= historia_clinica.practica_id %></td>
        <td><%= historia_clinica.especialidad_id %></td>
        <td><%= historia_clinica.paciente_id %></td>
        <td><%= link_to 'Show', historia_clinica %></td>
        <td><%= link_to 'Edit', edit_historia_clinica_path(historia_clinica) %></td>
        <td><%= link_to 'Destroy', historia_clinica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historia clinica', new_historia_clinica_path %>
