<%= form_for(@practica) do |f| %>
  <% if @practica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@practica.errors.count, "error") %> prohibited this practica from being saved:</h2>

      <ul>
      <% @practica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
